<form class="example-form" [formGroup]="companyform" (ngSubmit)="SaveCompany()">
    <mat-card>
    <mat-card-content>
    

    <mat-form-field class="example-full-width" appearance="fill">
      <!-- <mat-label>Id</mat-label> -->
      <!-- <input matInput placeholder="ID" formControlName="id" > -->
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>FirstName</mat-label>
        <input matInput placeholder="First Name" formControlName="name" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>LastName</mat-label>
        <input matInput placeholder="Last Name" formControlName="empcount" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>state</mat-label>
        <input matInput placeholder="State" formControlName="revenue" >
      </mat-form-field>
     
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Address" formControlName="address"></textarea>
    </mat-form-field>
    <!-- <section class="example-section">
        <mat-checkbox class="example-margin" formControlName="isactive"></mat-checkbox>
    </section> -->
</mat-card-content>
    <mat-card-footer>
    <div class="example-button-row" style="margin: 2px">
        <button mat-raised-button color="primary">Save</button> | <a (click)="closepopup()" mat-raised-button color="accent">Close</a>
    </div>
</mat-card-footer>
</mat-card>
  </form>